<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" href="css/error-status.css">
</head>
<body>
  <div class="card">
    <h1>Lost in the Digital Abyss</h1>
    <p>Seems like the page you seek is nowhere to be found,</p>
    <p>In the vast expanse of the web, a 404 echoes around.</p>
    <p>A digital labyrinth, where URLs go astray,</p>
    <p>Not found in this realm, no path to display.</p>
    <div class="error-code">404</div>
  </div>
  <br><br>
  <div>
    <a href="/">Go to login</a>  
  </div>
</body>
</html>
