@import url("https://fonts.cdnfonts.com/css/montserrat");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #777;
  font-size: 24px;
  margin-bottom: 10px;
}

lb {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem;
  height: 75vh;
  display: flex;
}
ul li {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
ul li div {
  gap: 0.5rem;
  display: flex;
}
ul li .guild-wrapper {
  min-width: 8.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9pc;
  align-items: center;
}
ul li .guild-wrapper a {
  text-decoration: none;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
  color: black;
}
ul li .guild-wrapper a:hover, ul li .guild-wrapper a:active, ul li .guild-wrapper a:focus {
  color: black;
}

span,
b {
  width: -moz-max-content;
  width: max-content;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  border-radius: 1rem;
  border: 2px groove;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
}
.user img {
  height: 4rem;
}
.user div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user div h4 {
  font-size: larger;
  margin: 0 0;
}
.user div h6 {
  font-size: small;
  margin: 0 0;
}

img {
  aspect-ratio: 1;
}
img.round {
  border-radius: 100%;
}
img.guild-icon {
  height: 5rem;
}
img.bot-icon {
  height: 5rem;
  padding: 0 0.5rem;
}
img.user-icon {
  height: 4rem;
  margin-right: 0.5rem;
}